body{
font-family:Arial;
margin:0;
}

.login-page{
background:#4b2e83;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-container{
text-align:center;
width:80%;
}

.logo{
width:150px;
margin-bottom:30px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:none;
}

.btn-login{
width:100%;
padding:14px;
background:#6c4ab6;
color:white;
border:none;
border-radius:8px;
font-size:16px;
}

.lupa{
color:white;
margin-top:10px;
}

.header{
background:#4b2e83;
color:white;
padding:20px;
}

.card{
background:#6c4ab6;
color:white;
padding:20px;
margin:20px;
border-radius:12px;
}

.menu{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
padding:20px;
}

.menu-btn{
padding:20px;
border:none;
border-radius:12px;
background:#eeeeee;
font-size:16px;
}
